services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - chain-data:/app/data
    restart: unless-stopped
    networks:
      - mvm

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - mvm

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot

volumes:
  chain-data:

networks:
  mvm:
    driver: bridge
